<div class="container-fluid text-uppercase">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h6>
        <% if @icon.present? %>
          <i class="<%= @icon %>"></i>
        <% end %>
        <% if @title.present? %>
          <%= @title %>
        <% end %>
      </h6>
    </div>

    <% if @breadcrumbs.any? %>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right font-size-12">
          <% @breadcrumbs.each_with_index do |item, index| %>
            <% last = index == @breadcrumbs.size - 1 %>
            <li class="breadcrumb-item <%= 'active' if last %>">
              <% if last || item[:path].blank? %>
                <%= item[:label] %>
              <% else %>
                <%= link_to item[:label], item[:path] %>
              <% end %>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
</div>