<div class="card">
  <div class="card-header">
    <h3 class="card-title font-weight-bold text-uppercase">
      <%= title.present? ? title : "" %>
      <span class="badge badge-secondary"><%= subtitle.present? ? subtitle : "" %></span>
    </h3>
  </div>
  <%= form_with model: form, url: url, method: method, local: false do |f| %>
    <div class="card-body">
      <% @form = f %>
      <%= content %>
    </div>
    <div class="card-footer border-top">
      <div class="row justify-content-end">
        <div class="col-6 col-sm-6 col-md-2">
          <%= link_to back_url.present? ? back_url : "#", class: "btn btn-dark btn-block text-uppercase font-weight-bold" do %>
            <i class="fas fa-backward"></i> Voltar
          <% end %>
        </div>
        <div class="col-6 col-sm-6 col-md-2">
          <button type="submit" class="btn btn-primary btn-block text-uppercase font-weight-bold">
            <i class="fas fa-save"></i> <%= submit_text.present? ? submit_text : '-' %>
          </button>
        </div>
      </div>
    </div>
  <% end %>
</div>