<div class="card">
  <div class="card-header">
    <h3 class="card-title font-weight-bold text-uppercase">
      <%= title.present? ? title : '' %>
      <span class="badge badge-secondary"><%= subtitle.present? ? subtitle : '' %></span>
    </h3>
  </div>
  <%= form_with model: form, url: url, method: method, local: false do |f| %>
    <div class="card-body">
      <%= content %>
    </div>
    <div class="card-footer border-top">
      <button type="submit" class="btn btn-primary"><%= submit_text.present? ? submit_text : '-' %></button>
    </div>
  <% end %>
</div>