<%= render BreadcrumbComponent.new(
    icon: "fas fa-map",
    title: "Estados"
  )
%>

<% if policy(Estado).new? %>
  <div class="row mb-3">
    <div class="col-md-2 offset-md-10">
      <%= link_to new_admin_estado_path, class: 'btn btn-primary btn-block text-uppercase font-weight-bold' do %>
        <i class="fas fa-plus-circle"></i> <%= t('views.admin.estados.index.action.new') %>
      <% end %>
    </div>
  </div>
<% end %>

<%= render partial: "form_search", locals: { zone: nil } %>

<%= render TableComponent.new(
  title: t("views.admin.estados.index.table.title"),
  subtitle: t("views.admin.estados.index.table.subtitle"),
  headers: [
    t("views.admin.estados.index.table.header.pais"),
    t("views.admin.estados.index.table.header.nome"),
    t("views.admin.estados.index.table.header.sigla"),
    t("views.admin.estados.index.table.header.ativo"),
    t("views.admin.estados.index.table.header.acoes")
  ],
  records: @estados,
  pagination: @pagy
) do %>
  <% @estados.each do |estado| %>
    <tr class="text-center">
      <td class="align-middle"><%= estado.pais.nome %></td>
      <td class="align-middle"><%= estado.nome %></td>
      <td class="align-middle"><%= estado.sigla %></td>
      <td class="align-middle">
        <%= render BadgeComponent.new(boolean: estado.ativo) %>
      </td>
      <td class="align-middle">
        <% content_for :modal do %>
        <% end %>
        <%= link_to admin_estado_path(estado), class: "btn btn-primary btn-sm font-weight-bold", title: t("views.admin.estados.index.table.action.show") do %>
          <i class="fas fa-folder"></i>
        <% end %>
        <%= link_to edit_admin_estado_path(estado), class: "btn btn-info btn-sm font-weight-bold", title: t("views.admin.estados.index.table.action.edit") do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_estado_path(estado), class: "btn btn-danger btn-sm font-weight-bold", title: t("views.admin.estados.index.table.action.destroy") do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>