<div class="card">
  <div class="card-body login-card-body">
    <p class="login-box-msg"><%= t("devise.sessions.new.title") %></p>
    <% if flash[:alert].present? %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-group mb-3">
        <%= f.email_field :email, class: "form-control", autocomplete: "email", placeholder: t("devise.sessions.new.email_placeholder") %>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-envelope"></span>
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
        <%= f.password_field :password, class: "form-control", autocomplete: "current-password", placeholder: t("devise.sessions.new.password_placeholder") %>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.submit t("devise.sessions.new.submit"), class: "btn btn-primary btn-block text-uppercase" %>
        </div>
      </div>
    <% end %>
  </div>
</div>