<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "PINGPONG | Administração" %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Pingpong">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <%= favicon_link_tag "favicon.png" %>
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :admin, "data-turbo-track": "reload" %>
    <%= javascript_include_tag :admin %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="hold-transition layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
      <%= render partial: "layouts/shared/preloader" %>
      <%= render partial: "layouts/shared/admin/navbar" %>
      <%= render partial: "layouts/shared/admin/sidebar" %>
      <div class="content-wrapper">
        <%= yield :breadcrumb %>
        <section class="content">
          <div class="container-fluid">
            <%= yield %>
          </div>
        </section>
      </div>
      <%= render partial: "layouts/shared/admin/footer" %>
    </div>
    <%= yield :modal %>
  </body>
</html>